.status-bar {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 7px 3px;
  font-size: 14px;
}

.status-bar_column {
  width: 33%;
}
.status-bar_column:first-child span {
  margin-right: 5px;
}
.status-bar_column:nth-child(2) {
  display: flex;
  justify-content: center;
}
.status-bar_column:nth-child(3) {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.status-bar_column .fa-battery-quarter {
  margin: 0px 5px;
}
